This script is can be used to compare two tables that have the same columns but might have different datatypes or values for each column.

Usually an SCD or table is recreated but might have difference from original table. This script is written to check the differences that might have risen during recreation.

### Load Packages

In [ ]:
import pymysql
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import datetime as dt
from datetime import datetime, timedelta, date
import psycopg2
import multiprocessing
from tqdm import tqdm

#### Assign connections

In [ ]:
conn1 = create_engine('mysql+pymysql://username:password@host_ip:xxxx/dbname')
conn2 = create_engine('mysql+pymysql://username:password@host_ip:xxxx/dbname')

### All features datatype and mismatches

In [ ]:
ai_table1 = 'table1' # First table name that needs to be compared with second table

# query = """select * from """+ai_table1 +"""  where isrelevant=1 and date(calltime)>='2024-04-01' limit 1 """
query = "describe "+ai_table1+";"
table1 = pd.read_sql_query(query, con=conn1)


ai_table2 = 'table2' # second table name that needs to be compared with first table

# query = """select * from """+ai_table2 +"""  where isrelevant='1' and date(calltime)>='2024-04-01' limit 1 """
query = "describe "+ai_table2+";"
table2 = pd.read_sql_query(query,con=conn2)
# table2 = pd.concat(table2).reset_index(drop=True).drop_duplicates('index_key')
# table2 = table2.reset_index(drop=True).drop_duplicates('index_key')

In [ ]:
# the tables contain column names and their datatypes
# lowering the column names of both table columns and datatypes

table1 = table1[['Field','Type']] 
table1.columns = table1.columns.str.lower()
table1['field'] = table1['field'].str.lower()

# table2.columns = table2.columns.str.lower()
table2 = table2[['Field','Type']]
table2.columns = table2.columns.str.lower()
table2['field'] = table2['field'].str.lower()

In [ ]:
# This section is used to check which columns are present in a table compared to the other table
# dtypes_table1 and dtypes_table2 are created as dictionaries for column and their datatypes
# table1_table2_notcols consists of columns in table 1 that are not present in table2; and table2_table1_notcols is vice versa
# table1_table2_cols consists of columns in table 1 that are also present in table2; and table2_table1_cols is vice versa


# table1_cols = pd.DataFrame(table1.columns, columns={'table1_cols'})
# dtypes_table1 = table2.dtypes.to_dict()
table1_cols = pd.DataFrame(table1['field'])
table1_cols['table1_cols'] = table1_cols['field']
dtypes_table1 = table1.dtypes.to_dict()

# table2_cols= pd.DataFrame(table2.columns, columns={'table2_cols'})
# dtypes_table2 = table2.dtypes.to_dict()
table2_cols = pd.DataFrame(table2['field'])
table2_cols['table1_cols'] = table2_cols['field']
dtypes_table2 = table2.dtypes.to_dict()

table1_table2_notcols = table1_cols[~table1_cols['table1_cols'].isin(table2_cols['table2_cols'])]
table2_table1_notcols = table2_cols[~table2_cols['table2_cols'].isin(table1_cols['table1_cols'])]

table1_table2_cols = table1_cols[table1_cols['table1_cols'].isin(table2_cols['table2_cols'])]
table2_table1_cols = table2_cols[table2_cols['table2_cols'].isin(table1_cols['table1_cols'])] 

print(len(table1_table2_notcols),len(table2_table1_notcols),len(table1_table2_cols),len(table2_table1_cols))

In [ ]:
# table2_cols= pd.DataFrame(table2.columns, columns={'table2_cols'})
# dtypes_gp = table2.dtypes.to_dict()
# dtypes_gp

In [ ]:
# creating a new table table1_table2_dtypes consisting of common columns in both tables
# with 'dtype_match' column as 1 if datatype is consistent in both tables or 0 if its not

table1_cols['table1_dtypes'] = [dtypes_table1[table1_cols['table1_cols'][i]] for i in range(len(table1_cols['table1_cols']))]
table2_cols['table2_dtypes'] = [dtypes_table2[table2_cols['table2_cols'][i]] for i in range(len(table2_cols['table2_cols']))]

table1_table2_dtypes = pd.merge(table1_cols, table2_cols, how='inner', right_on = ['table2_cols'], left_on=['table1_cols'])

table1_table2_dtypes['dtype_match'] = np.where(table1_table2_dtypes['table1_dtypes']==table1_table2_dtypes['table2_dtypes'],1,0)

In [ ]:
# writing the tables as an excel

with pd.ExcelWriter('table2_table1_diff.xlsx') as excel_writer:
    dtypes_mism.to_excel(excel_writer, sheet_name='dtypes_diff')
    table1_table2_notcols.to_excel(excel_writer, sheet_name='table1_table2_notcols')

#### Comparison of column values

In [ ]:
# convert columns to a lst of columns
# remove 'index_key' from list

columns = table1_table2_cols.columns.to_list()
columns.remove('index_key')

In [ ]:
# create a dataframe with 5 columns to record differences of column values b/w two tables
# each row of dataframe contains column name, list of index_keys, list of values in table1, list of values in table2, number of mismatches and % of mismatches

table1_table2_diff = pd.DataFrame(columns={'columns','index_keys','table1_values','table2_values','mismatches'})

# create lists for each column in dataframe
cols = []
index_keys = []
table1_values = []
table2_values = []
mism = []

# Loop through each column for differences
for i in tqdm(columns):
    
    # take just the 'index_key' and the column from each table into new table names
    table11 = table1[['index_key', i]]
    table21 = table2[['index_key', i]]
    
    # rest indices of both tables
    table11.reset_index(inplace=True, drop=True)
    table21.reset_index(inplace=True, drop=True)
    
    # rename the column names with table1_/table2_ as prefix of the column name for identification 
    table11=table11.rename(columns={i:'table1'+i})
    table21=table21.rename(columns={i:'table2'+i})
    
    # join both tables based on 'index_key'
    ai_table21 = pd.merge(table11, table21, on='index_key', how='inner')
    
    # create tuples of each mismatch
    ckeys = tuple([ai_table21['index_key'][j] for j in range(len(ai_table21)) if (ai_table21['table1'+i][j]!=ai_table21['table2'+i][j])])
    table1_val = tuple([ai_table21['table1'+i][j] for j in range(len(ai_table21)) if (ai_table21['table1'+i][j]!=ai_table21['table2'+i][j])])
    table2_val = tuple([ai_table21['table2'+i][j] for j in range(len(ai_table21)) if (ai_table21['table1'+i][j]!=ai_table21['table2'+i][j])])

    # if there is a mismatch, then append the tuples in the list created for each column in dataframe
    if len(ckeys)>=1:
        cols.append(i)
        index_keys.append(ckeys)
        table1_values.append(table1_val)
        table2_values.append(table2_val)
        mism.append(len(ckeys))
        
# update dataframe column with lists
table1_table2_diff['columns'] = cols
table1_table2_diff['index_keys'] = index_keys
table1_table2_diff['table1_values'] = table1_values
table1_table2_diff['table2_values'] = table2_values
table1_table2_diff['mismatches'] = mism
table1_table2_diff['%mismatch'] = table1_table2_diff['mismatches']*100/len(table1)


# create types of columns based on %mismatches for each column

conditions = [table1_table2_diff['%mismatch']>=50, (table1_table2_diff['%mismatch']<=50) & (table1_table2_diff['%mismatch']>=10), (table1_table2_diff['%mismatch']<=10) & (table1_table2_diff['%mismatch']>=5), (table1_table2_diff['%mismatch']<=5) & (table1_table2_diff['%mismatch']>=1), table1_table2_diff['%mismatch']<=1]
choice = ['type_1','type_2','type_3','type_4','type_5']

table1_table2_diff['type'] = np.select(conditions, choice, default=np.nan)

table1_table2_diff.to_pickle('./table1_table2_diff_fix.pkl') # save dataframe as pickle file for storign and later use

In [ ]:
pd.set_option('display.max_rows',200)
# table1_table2_diff[(table1_table2_diff['type']=='type_5')].sort_values(by=['%mismatch'], ascending=False)
table1_table2_diff